*.cmi
*.cmx
*.cmo
*.cma
*.cmxa
*.cmxs
*.o
*.a
*.annot
*~
_build
setup.log
setup.data
*.byte
*.native
src/server/ocsigenserver
src/server/ocsigenserver.opt
local/var/log/access.log
local/var/log/errors.log
local/var/log/warnings.log
local/var/lib/ocsidb
local/etc/ocsigenserver.conf
local/etc/ocsigenserver.conf.opt
doc/api-html
